@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url(https://i.etsystatic.com/42876221/r/il/123b70/5073268475/il_fullxfull.5073268475_95mt.jpg);
  /* background-position: bottom; */
  background-size: cover;
}
.boton {
  border-radius: 20px;
  position: absolute;
  top: 55%;
  left: 45%;
}
.boton:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.titulo {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 50px black;
}
#excusa {
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 50px black;
}
